.App {
  text-align: center;
  background: darkslategrey;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.frase{
  color: white;
  font-style: oblique;
  font-family: monospace;
  font-size: 4vh;
}

.imgPokemon{
  width: 36vh;
  height: 23vh;
  margin: 0;
}

.logoPokemon{
  margin: 0;
  width: 56vh;
  height: 20vh;
}

.iconoPokemon{
  width: 26vh;
  height: 14vh;
}

@media (prefers-reduced-motion: no-preference) {
  .iconoPokemon {
    animation: iconoPokemon infinite 20s linear;
  }
}

.App-header {
  margin-bottom: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: white;
  font-style: oblique;
  font-family: monospace;
  font-size: 3vh;
}


@keyframes iconoPokemon {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
